html {
    background: #efefef;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 100;
}

h3 {
    margin: 0;
    font-weight: 100;
}

article {
    background: #efefef;
    margin: 20px;
    padding: 20px;
}

p {
    line-height: 1.4em;
}

img {
    width: 100%;
}

fieldset {
    margin-top: 20px;
    padding: 20px;
    border: solid 2px #ccc;
}

legend {
    padding: 0, 10px;
}

Label {
    margin-top: 1em;
}

button {
    width: 100px;
}

Label .block {
    margin: 0;
    display: block;
}

div .container {
    margin: 0;
}

label .radio-inline {
    margin: 10px;
}

input {
    margin: 0.4rem;
  }